.container-fluid {
    padding-bottom: 100px;
}

.main-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-body .d-flex {
    margin-top: 0.5rem;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}